{{#if topic.tags}}
  {{#let (structured-tags topic.tags) as |s|}}
    <span class="inline-topic-tags">
      <a
        href="/t/{{topic.slug}}/{{topic.id}}/1"
        data-topic-id="{{topic.id}}"
        class="discourse-tag box inline-topic-title-link"
      >
        {{topic.title}}
      </a>
      {{#each s.visible as |tag|}}
        <a href="/tag/{{tag.name}}" class="discourse-tag box" data-tag-name="{{tag.name}}">
          {{tag-display-name tag.name}}
        </a>
      {{/each}}
      {{#if s.hidden.length}}
        <span
          class="discourse-tag box extra-tags-toggle"
          role="button"
          {{on "click" (fn this.toggleHidden)}}
        >
          +{{s.hidden.length}}
        </span>
        <span class="extra-tags" hidden>
          {{#each s.hidden as |tag|}}
            <a href="/tag/{{tag.name}}" class="discourse-tag box" data-tag-name="{{tag.name}}">
              {{tag-display-name tag.name}}
            </a>
          {{/each}}
        </span>
      {{/if}}
    </span>
  {{/let}}
{{/if}}